html, body { margin: 0; padding: 0; } 

body {
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  font-color: #FFF;
  background-color: #B78DC0;
  border-style: none;
}

.wrapper {
  background: #FDFCEE;
  width: 680px;
  height: 820px;
  margin: 0 auto;
  z-index: 0;
}

a {
  font-family: "Oswald", serif;
  font-size: 1.2em;
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 3px #aaa;
}

#initial {
  top: -20px;
  color: #B78DC0;
  font-family: "Bree Serif", serif;
  text-align: center;
  font-size: 4em;
  text-shadow: 2px 2px #aaa;
  padding: 0;
}

#circle {
  position: fixed;
  display: block;
  top: 10px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: #FFF;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3); 
  border-radius: 100px;
  padding: 0;
  z-index: 12;
}

#circle2 {
  position: relative;
  display: block;
  top: -150px;
  left: 50%;
  margin-left: -177.5px;
  width: 355px;
  height: 355px;
  background: #A983B2;
  opacity: 0.4;
  border: none;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  padding: 0;
  z-index: 6;
}

#circle3 {
  float: left;
  margin-top: -370px;
  left: 50%;
  margin-left: 40px;
  width: 200px;
  height: 200px;
  background: #8AB755;
  opacity: 0.4;
  border: none;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  padding: 0;
  z-index: 5;
}

#circle4 {
  float: right;
  margin-top: -480px;
  margin-right: 40px;
  width: 190px;
  height: 190px;
  background: #8AB755;
  opacity: 0.3;
  border: none;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  padding: 0;
  z-index: 5;
}

.banner-wrap {
  width: 0; 
  height: 0;  
  line-height: 0;    
  top: 100%;  
  position: absolute;  
}

.banner-wrap#top-left-tri {
  border-top: 10px solid #8BB756;  
  border-left: 20px solid transparent;
  left: 0;  
}

.banner-wrap#top-right-tri {
  border-top: 10px solid #8BB756;  
  border-right: 20px solid transparent;
  right: 0;
}

.banner-wrap#bottom-left-tri {
  border-bottom: 10px solid #8BB756;
  border-left: 20px solid transparent;
  top: -25%;
  left: 0;
}

.banner-wrap#bottom-right-tri {
  border-bottom: 10px solid #8BB756;
  border-right: 20px solid transparent;
  top: -25%;
  right: 0;
}

.hide {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  background: #B78DC0;
  z-index: 9;
}

.hide#top {
  top: -10px;
}

.hide#bottom {
  position: relative;
  /*
  bottom: -40px;*/
}

#footer-banner {
  position: relative;
  background-color: #A5D069;
  left: 50%;
  width: 720px;
  bottom: 20px;
  height: 20px;
  padding: 10px 0;  
  margin: 0 auto;
  margin-left: -360px;
  z-index: 11;
}

#footer-content {
  color: white;
  text-shadow: 1px 1px #aaa;
}

nav {
  position: fixed;
  width: 720px;
  top: 40px;
  left: 50%;
  margin: 0 auto;
  margin-left: -360px;
  z-index: 10;
  background: #A5D069;
  text-shadow: 1px 1px #aaa;
}

.navbar {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline;
}

.navbar a {
  display: inline-block;
  padding: 10px;
}

#padright {
  padding-right: 60px;
}

#padleft {
  padding-left: 100px;
}

#title {
  text-align: center;
  position: relative;
  color: #FFF;
  font-family: "Bree Serif", serif;
  text-shadow: 4px 4px #aaa;
}

#content {
  left: 50%;
  height: 100%;
  margin-top: -210px;
  text-align: center;
}


h1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;
  font-size: 7.5em; 
  top: 475px;
  z-index: 7;
}

h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;
  font-family: "Droid Sans", sans-serif;
  color: #FFF;
  font-size: 1.8em;
  text-shadow: 2px 1px #aaa;
  line-height: 90%;
  top: 365px;
  z-index: 7;
}


#blurb {
  position: relative;
  margin: 0 auto;
  padding: 0;
  top: -295px;
  text-align: center;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  z-index: 9;
}

img.me {
  display: block;
  left: 50%;
  margin: -75px auto;
  z-index: 2;
}
