body {
  margin: 0;
  padding: 0;
  font-color: #081A08;
}

#content {
  width: 800px;
  margin: 0 auto;
  margin-top: 5em;
  position: relative;

}


#nav-hobbies {
  text-align: right;
  font-family: Gotham, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#nav-hobbies li {
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
  text-decoration: italic;
}

#nav-hobbies .amp{
  padding-left: 5px;
}

.line {
  width: 100%;
  height: 1px;
  line-height: 0;
  border-top: #000 1px solid;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #081A08;
}

a:hover {
  color: #421518;
  transition: all .2s ease;
}


#about-link {
  color: #421518;
}


h1 {
  font-family: Arbutus Slab;
  font-weight: 700;
  font-size: 3em;
  font-color: #081A08;

  text-align: right;
  margin: 0;
  line-height: .2em;
}

h2 {
  font-family: Gotham, sans-serif;
  font-size: .9em;
  margin: 0;
}

h3 {
  font-family: Gotham, sans-serif;
  font-color: #081A08;

}

p {
  font-family: Gotham, sans-serif;
  font-color: #081A08;
  margin-top: 10px;
}

#pronounce {
  font-style: italic;
  float: right;
}

.likes {
  font-family: Gotham, sans-serif;
  margin-top: 0;
  padding-left: 0;
}
.likes li {
  display: block;
}

.tools {
  font-weight: bold;
}



.hidden {
  display: none;
  transition: all 1s ease;
}

.photo {
  height: 250px;
  width: 250px;
  float: left;
  margin: 0 20px 10px 0;
  background-color: #444444;
}

h4 {
  float: right;
}

.strike {
  text-decoration: line-through;
}

.bear {
  width: 300px;
  height: auto;
  float: left;
  margin: 0 20px 10px 0;
}

#me {
  width: 250px;
  height: auto;
  float: right;
  margin: 0px 0px 10px 20;
}

.clearfix {
  clear: both;
}

#art {
  position: relative;
}

.grid {
  position: relative;
  float: left;
  width: 260px;

}

.grid img {
  width: 260px;
  height: auto;
  margin-bottom: 10px;

  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(.5); /* Google Chrome, Safari 6+ & Opera 15+ */

}

.grid img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 1s ease-in-out;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

.more {
  text-align: center;
}

.link {
  font-style: italic;
}